/* -------------------------------------------------------------- */
/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0%;
    top: 0%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
}

/* BOTÕES */
button {
    width: 80%;
    border: 1px solid black;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.3s;
    cursor: pointer;
}

img {
    object-fit: contain;
}

.comprar-produto {
    border: 2px solid #4CAF50;
    background-color: white;
}

.comprar-produto:hover {
    background-color: #4CAF50;
}

.detalhes-produto:hover {
    background-color: #ffffff;
}

.adicionar-carrinho {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

button:hover {
    background-color: #c2c2c2;
}

select {
    width: 200px;
    border: none;
    color: black;
    border: 1px solid #4CAF50;
    padding: 5px 10px;
    text-align: center;
    font-size: 12px;
    transition-duration: 0.1s;
    cursor: pointer;
}

select:hover {
    background-color: white;
    border: 1px solid #4CAF50;
}

/*NAV BAR*/
nav {
    font-family: 'Bebas Neue', cursive;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #5a3795;
    font-weight: bolder;
    z-index: 1;
}

nav ul {
    text-align: center;
}

nav li {
    margin-right: 10%;
    display: inline-block;
    transition-duration: 0.3s;
    cursor: pointer;
    border-radius: 15px;
}

nav li a {
    display: block;
    color:  #ffd634;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 25px;
    text-shadow: 0 0 2px black;

}

nav li a:hover {
    background-color: #c9c9c965;
    text-shadow: 0 0 1px black;

    text-decoration: none;
    transition: 0.3s;
    color: white;

}

nav .logo {
    width: 100px;
    float: left;
}


/* MAIN*/
main {
    text-align: center;
    text-decoration: none;
    padding: 1%;
}

ul {
    list-style-type: none;
}



/* PRECO */
.traco {
    text-decoration: line-through wavy;
}

.preco-atual {
    color: rgb(0, 0, 0);
    font-size: 25px;
}

/*FOOTER*/
.rodape {
    text-align: center;
    background-color: white;
    font-family: 'Neucha', cursive;
    font-size: 20px;
    font-family: 'Mali', cursive;
}
.rodape .rodape-contato {
    display: flex;
    flex: 1;
    flex-direction: row;
	justify-content: space-around;

} 

.rodape .rodape-contato span img {
    width: 15px;
}

/* TITULOS */

.titulo {
    font-family: 'Permanent Marker', cursive;
    text-shadow: 1px 1px 20px white;
    color: rgb(14, 12, 12);
    font-size: 5vw;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.subtitulo {
    font-family: 'Neucha', cursive;
    font-size: 40px;
    text-shadow: 1px 1px 20px white;
}


